.container {
  width: 150px;
  height: 200px;
  background: var(--background-light);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.text {
  font-family: 'osrs';
  font-weight: bold;
  color: var(--font);
  text-align: center;
}

.imgContainer {
  width: 100px;
  height: 100px;
}

.itemImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.quantity {
  display: flex;
}

.quantity > input {
  width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.members {
  position: absolute;
  top: 5%;
  left: 85%;
}
