.container {
  display: flex;
  align-items: center;
  padding: 10px;
  background: var(--primary);
}

.logoContainer {
  flex: 1;
}

.h1 {
  display: inline;
  font-family: 'osrs';
  font-weight: bold;
  font-size: 4rem;
  color: var(--font);
  text-shadow: var(--font-text-shadow);
}

.logo {
  width: 50px;
  margin: 0 20px 0 5px;
}

.menuImg {
  width: 40px;
}

.menuImg + span {
  font-size: 2rem;
  text-shadow: 1.5px 1.5px black;
}

.headerBtn {
  display: flex;
  align-items: center;
  margin: 0 5px 0 0;
}
