@font-face {
  font-family: 'osrs';
  src: url('../assets/osrs.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'osrs';
  src: url('../assets/osrs_bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'osrs';
  src: url('../assets/osrs_small.ttf') format('truetype');
  font-weight: 100;
}

:root {
  --primary: #483e33;
  --font: #b38606;
  --font-text-shadow: 4px 4px 0 #000;
  --background: #2a231a;
  --parchment: #968459;
  --background-light: #493f34;
  --background-light-hover: #3a3229;
  --toastify-font-family: 'osrs' !important;
  --toastify-color-success: #493f34;
  --toastify-text-color-success: #b38606;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  font-family: 'osrs';
}

main {
  background: var(--background);
  min-height: 100vh;
  padding: 50px;
}

.container {
  width: 1300px;
}

button {
  background: #645748;
  font-family: 'osrs';
  color: var(--font);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:hover {
  background: #3a3229;
}

a {
  text-decoration: none;
}

.toastBody {
  font-size: 2rem;
  text-shadow: 2px 2px black;
}
